/.idea
/.git
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/WebGL Builds
/Assets/Art
/Assets/Audio
/Assets/TextMesh Pro

*.meta

*.sln
*.sln.DotSettings.user
*.csproj

*.xml

webgl_sharing
connectwebgl.zip